.Loader{
	display: block;
	position: relative;	
	max-width: 32px;
	max-height: 32px;
	padding: 2px;
	margin: 2px;
	animation: Load 3s infinite;
	text-align: center;
}

@keyframes Load {
	0% {
		transform:  rotate( 30deg);
	}
	 100% {
	 	transform: rotate(360deg);
	 }
}
span.Loader{
	display: block;
	position: relative;
	max-width: 32px;
	font-size: 9px;
	font-style: italic;
	font-weight: lighter;
	color: silver;
	animation: none;
}