/**
 * pagination component -styles
 * 
 */

p.Pagination {
	display: block;
	position: relative;
	padding: 5px;
	margin: 5px;
	color: cyan;
	border: none;
	border-radius: 4px;
	background-color: gold;

}
.Pagination, a, li{
	display: inline;	
	text-decoration: none;
	list-style-type: none;
	min-height: 30px;
	border-radius: 4px;
	background-color: #f2f2f2;
}
.Pagination ul li {
	margin: 5px;
	padding: 5px;
}