/*PreviewTable.css*/
.PreviewTable table, th, td {
	table-layout: auto;
	border: 1px solid darkgray;
	border-collapse: collapse;
}
.PreviewTable th{
	text-align: left;
}
.PreviewTable td{
	min-height: 20px;
	vertical-align: bottom;
}
.PreviewTable th{
	padding: 15px;
	text-align: center;
}
.PreviewTable tr:nth-child(even) {background-color: #f2f2f2;}
